<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <h3>{{ item.title }}</h3>
        <p>
          {{ item.authors }}. 
          <a href="{{ item.conference_url }}">{{ item.conference_name }}</a>.
        </p>
        <p>
          {{ item.paper_type }}.
          {% if item.acceptance_rate %}
            Acceptance Rate: {{ item.acceptance_rate }}.
          {% endif %}
          {% if item.award %}
            Award: {{ item.award }}.
          {% endif %}
        </p>
        <p>{{ item.overview }}</p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <h3>{{ item.title }}</h3>
        <p>
          {{ item.authors }}. 
          <a href="{{ item.conference_url }}">{{ item.conference_name }}</a>.
        </p>
        <p>
          {{ item.paper_type }}.
          {% if item.acceptance_rate %}
            Acceptance Rate: {{ item.acceptance_rate }}.
          {% endif %}
          {% if item.award %}
            Award: {{ item.award }}.
          {% endif %}
        </p>
        <p>{{ item.overview }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>
