<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p>
          <strong>{{ item.name }}</strong><br>
          {{ item.authors }}<br>
          <a href="{{ item.url }}">[PDF]</a><br>
          <em>{{ item.conference }}</em><br>
          Published: {{ item.date }}<br>
          Acceptance Rate: {{ item.acceptance_rate }}<br>
          {% if item.award %}
            <strong>Award: {{ item.award }}</strong><br>
          {% endif %}
        </p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p>
          <strong>{{ item.name }}</strong><br>
          {{ item.authors }}<br>
          <a href="{{ item.url }}">[PDF]</a><br>
          <em>{{ item.conference }}</em><br>
          Published: {{ item.date }}<br>
          Acceptance Rate: {{ item.acceptance_rate }}<br>
          {% if item.award %}
            <strong>Award: {{ item.award }}</strong><br>
          {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
